{% extends "base.html" %}

{% block content %}
    <h1>Search</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.search.label }}<br>
            {{ form.search(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
        <p>
        {% if search_results %}
        <table >
             <tr>
                <th>Text</th>
                <th>Book</th>
                <th>Page</th>
                <th>Path</th>
             </tr>
            {% for match in search_results %}
               <tr>
                 <td>
                 {% for highlights in match.highlights %}
                 {{ highlights|safe }}<br>
                 {% endfor %}
                 </td>
                 <td>{{ match.book }}</td>
                 <td>{{ match.page }}</td>
                 <td>{{ match.path }}</td>
               </tr>
            {% endfor %}
      </table>
      {% endif %}
        </p>
    </form>
{% endblock %}
